html,
body {
    height: 100%;
}

#aboutImage{
    background-image: url("http://i1284.photobucket.com/albums/a561/cbsamson16/MuntinlupaBaptistChurch_logo1_zps457d76c8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

p.box {
    color: blue;
    margin: 30px;
    line-height: 200%;
    background-color: #ffffff;
    border: 2px solid black;
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.body{
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  color: #6c6c6c;
}

.navbar-modify #w0{
    height: 150px;
    background: #2372DE url(../images/bg01.png) repeat;
    border-color: #2372DE;
}

.navbar-header .navbar-brand{
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
    padding-top: 70px;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.menu-modify{
    display: block;
    padding: 0em 1.5em;
    height: 150px;
    letter-spacing: 0.20em;
    line-height: 150px;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    padding-top: 50px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #2A76DC;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ACCFFF;
}

.footer{
    height: 60px;
    background: #2372DE url(../images/bg01.png) repeat;
    border-color: #2372DE;
      color: #fff;
    text-align: center;
}

.title {
  margin-bottom: 3em;
}

.index-body{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #6c6c6c;
}

.index-divider{
    overflow: hidden;
    padding: 5em 0em;
    background: #F6F6F6;
    text-align: center;
}
